# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
.coverage/
.nyc_output/

# Production
dist/
build/
*.apk
*.ipa
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.jks

# Misc
.DS_Store
.env
.env.local
.env.*.local

# Expo
.expo/
.expo-shared/
.env.production.local
dist/
npm-debug.*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
Thumbs.db

# Logs
logs
*.log
yarn-error.log
